@import './utilities/variables';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    line-height: calc(1ex / 0.32);
    font-family: Ubuntu, sans-serif;
    background-image: linear-gradient($primary1, $primary2);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    position: relative;

    &:before, &:after {
        animation: orbit 5s linear infinite;
        border-radius: 50%;
        box-shadow: 0 0 1rem 0 $accent1;
        content: '';
        height: 150px;
        position: absolute;
        width: 150px;
        top: 225px;
    }

    &:before {
        background: $secondary1;
        background: -moz-radial-gradient(top right,$secondary1, $primary1);
        background: radial-gradient(to bottom left,$secondary1, $primary1);
        background: -webkit-radial-gradient(top right, $secondary1, $primary1);
    }

    &:after {
        animation-direction: reverse;
        background: $secondary2;
        background: -moz-radial-gradient(bottom right, $primary1, $secondary2);
        background: radial-gradient(to top left, $primary1, $secondary2);
        background: -webkit-radial-gradient(bottom right, $primary1, $secondary2);
        right: 0;
        z-index: -1;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 0 1rem 0 $accent1;
        overflow: hidden;
        position: relative;
        width: 800px;
        height: 600px;

        &:before {
            background-color: $secondary3;
            backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &__content {
            position: relative;
            z-index: 1;
            padding: 1rem 2rem;

            h1 {
                text-align: center;
                font-size: 3rem;
            }

            hr {
                border: 2px solid $accent2;
                border-radius: 2px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-top: 3.5rem;
                }

                input {
                    background: linear-gradient($primary1, $secondary2);
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    border-style: none;
                    font-size: 2.5rem;
                    width: 270px;
                    height: 90px;
                    box-shadow: 0 0 1rem 0 $accent1;

                    &:hover {
                        background: #a3ddcb;
                        border: 2px solid $accent2;
                    }
                }

                .x, .y {
                    font-size: 2.5rem;
                }

                img {
                    width: 2.5rem;
                    height: auto;
                }
            }
        }
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(185px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(185px) rotate(-360deg);
    }
}
